*.json
Mobile-Agent-v2/projects/xml2grounding/*.json
Mobile-Agent-v2/hub/*
*.ttf
Mobile-Agent-v2/memory_record*/*

# Byte-compiled / optimized / DLL files
__pycache__/

# custom
**/screenshot/*
**/temp/*
